html, body {
  margin: 0;
  padding: 0;
}
:root{
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

.sketch-holder {
  position:relative;
  display: flex;
  justify-content:center;
  align-items:center;
  width:100%;
  top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
}

.footer {
  position: relative;
  bottom: 0;  
  text-align:center;
  /* Set the fixed height of the footer here */
  
}