html, body {
  margin: 0;
  padding: 0;
}
:root{
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

#sketch-holder {
  position:relative;
  top:0;
  left:0;
  width:100%;
  display: block;
  justify-content:center;
  align-items:center;
}
#stream_video{
  width:100%;
  height:100%;
  display: none;
}

#broadcasting_video{
  width:100%;
  height:100%;
  display: flex;
}
.layer{
  position:relative;  
  justify-content:center;
  align-items:center;  
}

#button_toggle{
  background-color:transparent;
  color:black;
}

textarea{
    
}
.footer {
  position: relative;
  bottom: 0;  
  text-align:center;
  /* Set the fixed height of the footer here */
  
}



:root{
  --font-size: 2em;
  --line-height:1.7em;
  --width: 1.7em;
  --height: 1.7em;
  --margin:0.5em;
  --margin-frame: -0.3em;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
}
.nav li:before {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: -1;
}
.nav a {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #b7ffcf);
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
  color: #878787;
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-decoration: none;
  margin: var(--margin);
  position: relative;
  width: var(--width);
  height: var(--height);
}

.nav a .description{
  font-size: 5px;
}

.nav a.sound {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #ffc5c5);
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
  color: #878787;
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-decoration: none;
  margin: var(--margin);
  position: relative;
  width: var(--width);
  height: var(--height);
}

.nav a:before {
  background: #fff;
  border-top: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: inset 0 8px 48px #ddd;
  content: '';
  display: block;
  position: absolute;
  left: var(--margin-frame);
  right: var(--margin-frame);
  top: var(--margin-frame);
  bottom: var(--margin-frame);
  z-index: -1;
}
.nav a:visited {
  color: #a7a7a7;
}
.nav a:hover {
  color: hsl(30, 70%, 50%);
}
.nav a:active {
  background: #b7ffcf;
}

.nav a.sound:active {
  background: #ffc5c5;
}