$primary: #1FB8CC; // 青緑：全体を締める主軸カラー
$secondary: #595858; // ニュートラルグレー
$success: #7FB069; // オリーブグリーン（自然・安心感）
$info: #D8BC5A; // ゴールド寄り、黄土系（知的で温かみ）
$warning: #C5A37F; // 柔らかなベージュ（穏やかな警告）
$danger: #C76558; // 落ち着いた赤土色（強すぎず上品）
$light: #F5F5F5; // 明灰（背景用）
$dark: #4C4C4C; // ダークグレー（テキストなど）





@import "../../../node_modules/bootstrap/scss/bootstrap";